.profile__info {
    align-self: center;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    max-height: fit-content;
}

@media screen and (max-width: 900px) {
    .profile__info {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}
